<p style="color: green"><%= notice %></p>

<% content_for :title, "Social media accounts" %>

<h1>Social media accounts</h1>

<div id="social_media_accounts">
  <% @social_media_accounts.each do |social_media_account| %>
    <%= render social_media_account %>
    <p>
      <%= link_to "Show this social media account", social_media_account %>
    </p>
  <% end %>
</div>

<%= link_to "New social media account", new_social_media_account_path %>
