<% content_for :title, "New social media account" %>

<h1>New social media account</h1>

<%= render "form", social_media_account: @social_media_account %>

<br>

<div>
  <%= link_to "Back to social media accounts", social_media_accounts_path %>
</div>
