<div id="<%= dom_id bluesky_account %>">
    <p>
        <strong>Platform:</strong>
        <%= bluesky_account.class.platform_name %>
    </p>
    <p>
        <strong>Handle:</strong>
        <%= bluesky_account.handle %>
    </p>
</div>
