<div id="<%= dom_id user %>">
    <p>
        <strong>Email address:</strong>
        <%= user.email %>
    </p>
    <p>
        <strong>Created at:</strong>
        <%= user.created_at %>
    </p>
</div>