<% if notice %><p class="notice alert alert-primary p-2"><%= notice %></p><% end %>

<% content_for :title, "Users" %>

<h2>Users</h2>

<div class="my-3">
    <%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
</div>

<div id="users">
    <% @users.each do |user| %>
        <%= render user %>
        <p>
            <%= link_to 'Show', user %>
        </p>
    <% end %>
</div>
