<% if notice %><p class="notice alert alert-primary p-2"><%= notice %></p><% end %>

<h1>Anseo Anois</h1>
<p>
  The time is now: <%= Time.now %>

  <p>
    User is <%= @current_user ? @current_user.email : "not logged in" %>
  </p>
</p>
