<div id="<%= dom_id instagram_account %>">
    <p>
        <strong>Platform:</strong>
        <%= instagram_account.class.platform_name %>
    </p>
    <p>
        <strong>Username:</strong>
        <%= instagram_account.username %>
    </p>
</div>
