<p style="color: green"><%= notice %></p>

<% content_for :title, "Accounts" %>

<h1>Accounts</h1>

<div id="accounts">
  <% @accounts.each do |account| %>
    <%= render account %>
    <p>
      <%= link_to "Show this account", account, class: "btn btn-secondary" %>
    </p>
  <% end %>
</div>

<%= link_to "New account", new_account_path, class: "btn btn-secondary" %>
