<p style="color: green"><%= notice %></p>

<%= render @account %>

<% if @account.owner == @current_user && !@sharable_view %>
  <br>
  <div>
    <%= link_to "Edit this account", edit_account_path(@account), class: "btn btn-primary" %>
    <%= button_to "Delete this account", @account, method: :delete, class: "btn btn-danger" %>
  </div>
<% end %>
